/DirectoryWatcherNative/DirectoryWatcher/build
/DirectoryWatcherNative/DirectoryWatcher/DirectoryWatcher.xcodeproj/xcuserdata/
/DirectoryWatcherNative/DirectoryWatcher/DirectoryWatcher.xcodeproj/project.xcworkspace/xcuserdata/
/DirectoryWatcherXamariniOS/bin
/DirectoryWatcherXamariniOS/obj

.vs/

bin
obj

*.userprefs
